[Desktop Entry]
Encoding=UTF-8
Name=User Management
Name[ar]=إدارة المستخدم
Name[bg]=Управление на потребителите
Name[ca_ES]=Gestió d'usuaris
Name[cs]=Správa uživatelů
Name[de]=Benutzer-Manager
Name[el]=Διαχείριση χρηστών
Name[en_GB]=User Management
Name[es]=Gestión de usuarios
Name[eu]=Erabiltzaileak kudeatzeko
Name[fi]=Käyttäjien hallinta
Name[fr]=Gestion des utilisateurs
Name[hr]=Upute za upravljanje
Name[hu]=Felhasználók kezelése
Name[it]=Gestione degli utenti
Name[ja]=ユーザ管理
Name[kk]=пайдаланушыларды басқару қолданбасы
Name[ko]=사용자 관리
Name[lt]=Naudotojų tvarkytuvė
Name[nb]=Brukeradministrasjon
Name[nl]=Gebruikersbeheer
Name[pl]=Zarządzanie użytkownikiem
Name[pt]=Gerenciamento de Usuário
Name[pt_BR]=Gerenciamento de Usuário
Name[ro]=Manager Utilizator
Name[ru]=Менеджер пользователей
Name[sk]=Správa užívateľov
Name[sr]=Упутство за управљање
Name[sv]=Användarhanterare
Name[tr]=Kullanıcı Yönetimi
Name[uk]=Управління користувачами
Name[zh_CN]=用户管理
Exec=user-management
Icon=config-users
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=True
